body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5rem;
    color: white;
    font-family: 'Space Mono', monospace;
}
.box{
     height: 100vh;
    background-color: rgb(255, 105, 105);
}
.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.clock-head{
    display: flex;
    justify-content: center;
    position: relative;
    top: 35vh;
}
.head{
    font-size: 3rem;
}

.time,.session{
    font-family: 'Space Mono', monospace;
    color: skyblue;
}
.session{
    margin-left: 5px;
}
@media only screen and (max-width:500px)
{
    body{
        font-size: 2.5rem;
    }
    .head{
        font-size: 1.5rem;
    }
    .box{
        background-color: rgb(203, 151, 255);
    }
    .time,.session{
        color: white;
    }
}